* {
  box-sizing: border-box;
}
/* mod main */
/* mod form */
/* mod input */
/* mod button */
/* mod ul */
/* mod li */

body {
 
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}



.form{
  display: flex;
  gap: 30px;

}

.taskInput:focus{
 
  display: block;
  outline:none;
}
.inputLabel{
display: flex;
flex-direction:column;
}

.taskButton{
  background-color: #4CAF50; /* Green color */
  border: none; /* No border */
  color: white; /* White text color */
  padding: 12px 24px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Text size */
  border-radius: 50px; /* Large border radius to create a pill shape */
  cursor: pointer; /* Cursor as pointer */
  transition: background-color 0.3s; /* Smooth color transition */
}
.taskButton:hover{
  background-color: #45a049; /* Darker green */
  font-size: 20px;
}
.taskButton:active{
  background-color: #3e8e41; /* Even darker green */
}

.taskListcontainer{
  display: flex;
}
.newlistItam{
  background-color: #29f300;

}
.deleteButton{
  background-color: #ffcc00; /* Gul farge */
  border: 2px solid #ffcc00; /* Solid kantlinje med samme farge som bakgrunn */
  color: #333; /* Mørk tekstfarge */
  padding: 15px 30px; /* Polstring */
  text-align: center; /* Senter tekst */
  text-decoration: none; /* Ingen understrekning */
  display: inline-block; /* Vis som inline-blokk */
  font-size: 20px; /* Tekststørrelse */
  border-radius: 50%; /* Sirkulær form */
  transform: rotate(-45deg); /* Roter knappen med -45 grader */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Skyggeeffekt */
  cursor: pointer; /* Muspekeren som en peker */
  transition: all 0.3s ease; /* Jevn overgang for alle egenskaper */
  

}
.deleteButton:hover{
  background-color: #ff9900; /* Oransje farge */
  color: #fff; /* Hvit tekstfarge */
  border-color: #ff9900; /* Oransje kantlinjefarge */
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3); /* Mer fremtredende skyggeeffekt */
  
}
.deleteButton:active{
  transform: rotate(-45deg) scale(0.9); /* Reduser størrelsen litt */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Lysere skyggeeffekt */
}

.hover:hover{
  font-size: 20px;
}